# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDA02ZzpIXuiY_Kc3Z2RaO7RicTymQ9Cdw"
VITE_FIREBASE_AUTH_DOMAIN="ux-dev-game-26e8e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="ux-dev-game-26e8e"
VITE_FIREBASE_STORAGE_BUCKET="ux-dev-game-26e8e.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="609532841045"
VITE_FIREBASE_APP_ID="G-ZB9SXLD8PY"